
html {
  font-family: "Paytone One", sans-serif, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 20px;
  color: var(--font-default); /* #842805; */
}

p.intro {
    font-size: 175%;
    text-align: center;
}
p {
    text-align: justify;
    margin-top: 0;
}
h1 {
}
h2 {
    font-size: 250%;
}
h3 {
    font-size: 150%;
}

.top-notice-urgent {
    font-size: 300%;
}
.top-notice {
    font-size: 300%;
}

/* colors */

:root {
    --decent-cherry: #B94E70;
    --strong-cherry: #9E133A;
    --background-beige: #F0DFDA; /*#BD9BC5;*/
    --font-default: black;
    --contrast-font: white;
    --strong-font: var(--decent-cherry);
    --urgent-font: #E60043;
    --contrast-background: var(--decent-cherry);
}

strong {
    color: var(--decent-cherry);
}

html {
    background-color: var(--background-beige); 
}

.urgent {
    color: var(--urgent-font);
    background: var(--contrast-background);
}

/* positioning: */

.top-notice {
    margin: auto;
    font-size: 300%;
    margin-bottom: 10%;
}

#main-image-heading {
    width: 100%;
    position: relative;
    z-index: -2;
}

header {
    margin-bottom: -60%;
}

.across-logo {
    width: fit-content;
    max-width: 80%;
    height: fit-content;
    display: block;
    margin: -90% auto 75%; /*moves btn into the picture but does not move content below header*/
    text-align: center;
}

body {
    max-width: 1600px;
    margin: auto;
}


main {
    padding: 10%;
    margin-bottom: 6em;
}

h1 {
    margin: 0;
}
h2 {
    text-align: center;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 1.8em;
}
h3 {
    margin-top: 0;
}

.main-nav {
    margin-bottom: 3em;
}

.default-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.person-bio {
    border: 2px solid var(--decent-cherry);
    padding: 1em;
    margin-bottom: 4em;
    max-width: 90%;
}
.person-photo {
    margin-top: 0;
    margin-bottom: auto;
}
.bio-textblock {
    margin: 1.3em;
    margin-top: 0;
    margin-bottom: auto;
    max-width: 70%;
}

/* buttons */

.header-submit-btn {
    font-size: 1.5rem;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.6;
}

a.a-contrast {
    color: var(--strong-cherry);
}
a {
    color: var(--decent-cherry);
}
a:hover, a:focus {
    color: var(--urgent-font);
}
a:active {
    color: var(--contrast-font);
}

button {
    background-color: var(--decent-cherry);
    color: var(--contrast-font);
    border: 0.08em solid var(--contrast-font);
    font-size: 0.7em;
    padding: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.nav-button {
    margin-top: 0.12em;
}

button:hover {
    background-color: var(--contrast-font);
    color: var(--strong-font);
}

.nav-item {
    font-size: 200%;
    margin: 0.2em;
}

button > a {
    color: inherit;
    text-decoration: inherit;
}
